@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1>AutoFix</h1>
    <p>Taller de Reparación Automotriz</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="servicio1.jpg" class="card-img-top" alt="Servicio 1">
                <div class="card-body">
                    <h5 class="card-title">Mantenimiento Preventivo</h5>
                    <p class="card-text">Nuestro servicio de mantenimiento preventivo asegura que tu vehículo esté en óptimas condiciones y evita problemas futuros.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="servicio2.jpg" class="card-img-top" alt="Servicio 2">
                <div class="card-body">
                    <h5 class="card-title">Reparación de Motor</h5>
                    <p class="card-text">Contamos con expertos en reparación de motores para devolverle el rendimiento y potencia a tu vehículo.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="servicio3.jpg" class="card-img-top" alt="Servicio 3">
                <div class="card-body">
                    <h5 class="card-title">Sistema Eléctrico</h5>
                    <p class="card-text">Solucionamos problemas eléctricos en tu vehículo, desde baterías hasta sistemas de iluminación.</p>
                </div>
            </div>
        </div>
    </div>
</div>

   <style>
    body {
      background-color: #f8f9fa;
    }
    .jumbotron {
      background-color: #343a40;
      color: white;
    }
  </style>


<script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>