@model Practicaprogramada005.Models.Solicitude

@{
    ViewData["Title"] = "Asignar";
}

<h1>Asignar</h1>

<h4>Solicitude</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Asignar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SolicitudesId" />
            <div hidden class="form-group">
                <label asp-for="ServiciosId" class="control-label"></label>
                <select asp-for="ServiciosId" class="form-control" asp-items="ViewBag.ServiciosId"></select>
                <span asp-validation-for="ServiciosId" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="Idusuario" class="control-label"></label>
                <input asp-for="Idusuario" class="form-control" />
                <span asp-validation-for="Idusuario" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="Datsauto1" class="control-label"></label>
                <input asp-for="Datsauto1" class="form-control" />
                <span asp-validation-for="Datsauto1" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="Datsauto2" class="control-label"></label>
                <input asp-for="Datsauto2" class="form-control" />
                <span asp-validation-for="Datsauto2" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="Datsauto3" class="control-label"></label>
                <input asp-for="Datsauto3" class="form-control" />
                <span asp-validation-for="Datsauto3" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="Datsauto4" class="control-label"></label>
                <input asp-for="Datsauto4" class="form-control" />
                <span asp-validation-for="Datsauto4" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="Estadode" class="control-label"></label>
                <input asp-for="Estadode" class="form-control" />
                <span asp-validation-for="Estadode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Asignar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
